* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.title {
  font-size: 35px;
  padding: 10px 0px;
  letter-spacing: 2px;
  word-spacing: -7px; 
  text-align: center;
  background-color: rgb(227, 227, 228);
  font-weight: 700;
  color: #606060;
 
}
.just {
  position: relative;
  font-family: 'cookie', cursive;
  color: #ffffff;
  letter-spacing: 10px;
  padding: 20px 5px;
  font-style: italic;
  font-size: 38px;
  bottom: 7px;
  opacity: 0.9;
  text-shadow: -7px 2px 9px #000000;
  
}



.contener {
  padding-left: 160px;
  padding-top: 100px;
background-color: #fefeff;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23070707' fill-opacity='0.11'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.img{
  
  width: 600px;
  height: 300px;

  
}
.text {
  
  border:2px solid rgb(227, 227, 228);
  width: 600px;
  position: relative;
  align-content: center;
  color:#2e2e2e;
  background-color: white;
  height: 800px;
}
p {
  padding:5px 10px 20px 10px;
}
.view {
  width: 300px;
  position: relative;
  left: 720px;
  bottom: 804px;
  border: 2px solid rgb(227, 227, 228);
  background-color: #e0dcdc;
  
}
.pic {
  width: 300px;
  height: 230px;
  opacity: 0.9;
  
  
}
.list {
  position: relative;
  left: 720px;
  bottom: 750px;
  width: 300px;
}
h2 {
  padding: 30px 10px;
  color:#424143;
  letter-spacing: 3px;
  
}
h3 {
  padding:10px;
  color: #424143
}
ul{
  list-style: none;
  padding-top: 20px;
 
  
}
li {
  padding: 15px 10px;
  color: #424143;
  font-style: italic;
  border-bottom: 3px solid rgba(49, 77, 170, 0.5);

}
button {
  position: relative;
  padding: 10px 30px;
  margin: 20px auto 30px 100px;
  border-radius: 10px;
  background-color: #9a223a;
  
  color:white;
  font-size: 18px
}